:root {
    --almostblack: #272727;
    --almostwhite: #F5F5F5;
    --blackground: #191919;
    --details: #4DAFFF;
    --selected-icon: #28445a;
    --black: #000;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body {
    background: var(--blackground);
}

#app {
    color: var(--almostwhite);
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* NAVBAR */
.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: var(--almostblack);
    height: 100vh;
    width: 4em;
    border-radius: 0 1em 0 0;
    border: 2px solid var(--black);
    position: absolute;
}

.title {
    display: none;
    position: absolute;
    top: 10%;
    left: 7%;
    color: var(--details);
    font-size: 32px;
}

.navArrowLeft:hover {
    background: var(--selected-icon);
    transition: 1s;
}

.navArrowRight:hover {
    background: var(--selected-icon);
    transition: 1s;
}

.navArrowRight {
    background: #282828;
    padding: .8em 1em;
    color: var(--almostwhite);
    border-radius: 50%;
    user-select: none;
    position: absolute;
    top: 1.3em;
    left: 1.5em;
    border: 4px solid var(--blackground);
    cursor: pointer;
}

.navArrowRight img {
    margin-left: .1em;
}

.navArrowLeft {
    display: none;
    background: #282828;
    padding: .8em 1em;
    color: var(--almostwhite);
    border-radius: 50%;
    user-select: none;
    position: absolute;
    top: 1.3em;
    left: 10.4em;
    border: 4px solid var(--blackground);
    cursor: pointer;
}

.navArrowLeft img {
    margin-right: .1em;
}

.icon {
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.icon:hover {
    background: var(--selected-icon);
    padding: 10px;
    border-radius: 10px;
}

.iconText {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 10%;
    cursor: pointer;
}

.icon2 {
    display: flex;
    align-items: center;
    gap: .7em;
    font-size: 16px;
    font-weight: 200;
    color: var(--almostwhite);
    user-select: none;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
}

.icon2:hover {
    background: var(--selected-icon);
}

.selected {
    background: var(--selected-icon);
}

.selected2 {
    background: var(--selected-icon);
    text-decoration-line: underline;
    text-decoration-color: var(--details);
    text-decoration-thickness: .1em;
    text-underline-offset: .3em;
    font-weight: 400;
}

/* DASHBOARD */
.container {
    display: flex;
    margin: 1em 0 0 7.7em; 
    width: 91vw;
    height: 97vh;
    background: var(--almostblack);
    border: 2px solid var(--black);
    border-radius: 8px;
}